<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="DatabaseforAppConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\KimHieuTran\Source\Repos\FoodApp\FoodApp\FoodApp\Database\DatabaseforApp.mdb" providerName="System.Data.OleDb" />
    <add name="DatabaseforAppConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\KimHieuTran\Source\Repos\FoodApp\FoodApp\FoodApp\Database\DatabaseforApp.mdb" providerName="System.Data.OleDb" />
    <add name="DatabaseforAppConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\FoodApp\FoodApp\FoodApp\Database\DatabaseforApp.mdb" providerName="System.Data.OleDb" />
    <add name="DatabaseforAppConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\KimHieuTran\Source\Repos\FoodApp\FoodApp\FoodApp\Database\DatabaseforApp.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" cookieless="false" timeout="1440" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
          <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Registration.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>